<h1>Upload for Repository <%= @repository.name %></h1>
 
<%= form_with model: @remository, url: repository_file_uploads_path(@repository),
              method: :post, local: true do |f| %>
  <%= f.file_field :files, multiple: true %><br /><br />
  <%= f.submit 'Upload' %>
<% end %>
